.mainBody{
    background-color:hsla(220, 19.40%, 87.80%, 0.85);
}
.bg-purple {
  background: linear-gradient(to right, #6366F1, #2563EB);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}
.header{
    background-color:hsla(220, 99.10%, 58.60%, 0.85);
    padding:1rem;
    color:white;
    border-radius:1.5rem;
}
.classSchedule{
    height:7rem;
    background-color:hsla(216, 24.60%, 88.00%, 0.38);
    border-radius:2rem;
    padding:1.2rem;
    font-size:1.3rem; 
}
.nav-bar{
    background-color:white;
    color:rgba(1, 1, 1, 0.87);
    padding:1.5rem;
    border-radius: 8px;
    border:1px solid white;
    font-size:2rem;
}
.no-border {
  border: none;
  background-color: transparent;
  color: inherit;
}

.old-item {
  background-color: #f5f5dc; /* light beige */
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px 12px;
}
.present{
    background-color:rgb(183, 202, 230);
    padding:1rem;
    height:8rem;
    width:30rem;
}
.late{
    background-color:rgb(227, 232, 144);
    padding:1rem;
    height:8rem;
    width:30rem;
}
.absent{
    background-color:rgb(227, 123, 123);
    padding:1rem;
    height:8rem;
    width:30rem;
}
.attendance{
    border-radius:5rem;
}